@page "/"

<PageTitle>Pickle Me</PageTitle>

<div class="container">
    <EditForm Model="Model" FormName="pickle-me" OnSubmit="Submit">
        <div class="row justify-content-center">
            <div class="col-2">
                <label>Cup(s) of Brine</label>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2">
                <InputNumber @bind-Value="Model!.Cups" class="form-control" style="width: 100px;"></InputNumber>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2">
                <button class="btn btn-primary mt-2" type="submit">Submit</button>
            </div>
        </div>
    </EditForm>
    <div class="mt-2">
        @if (_submitted)
        {
            <p>Water: @Model?.Water (cups)</p>
            <p>Vinegar: @Model?.Vinegar (cups)</p>
            <p>Sugar: @Model?.Sugar (cups)</p>
            <p>Salt: @Model?.Salt (tbsp)</p>
        }
    </div>

</div>

@code {

    private PickleMeModel? Model { get; set; }
    private bool _submitted;

    protected override void OnInitialized()
    {
        Model ??= new PickleMeModel();
    }

    private void Submit()
    {
        Model?.Calculate();
        _submitted = true;
    }

}
