<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <mat-card class="mt-2">
        <mat-card-title>
          <h4 class="m-2">Pickle Me!</h4>
        </mat-card-title>
        <mat-card-content>
          <div class="row justify-content-center">
            <div class="col-md-4 mt-2">
              <mat-form-field>
                <mat-label>Cups of Brine</mat-label>
                <input matInput type="number" max="10" min="0" [ngModel]="store.cups()"
                       (ngModelChange)="store.updateCups($event)">
              </mat-form-field>
            </div>
          </div>
          <app-measurement ingredient="Water" [value]="store.water()"></app-measurement>
          <app-measurement ingredient="Vinegar" [value]="store.vinegar()"></app-measurement>
          <app-measurement ingredient="Salt" [value]="store.salt()" measurement="tbsp"></app-measurement>
          <app-measurement ingredient="Sugar" [value]="store.sugar()" measurement="tbsp optional"></app-measurement>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button (click)="store.reset()">Reset</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
