@page "/"

<PageTitle>Pickle Me</PageTitle>

<EditForm Model="Model" FormName="pickle-me" OnSubmit="Submit">
    <label>
        Parts: <InputNumber @bind-Value="Model!.Cups"></InputNumber>
    </label>
    <button type="submit">Submit</button>
</EditForm>
@if (_submitted)
{
    <p>@Model?.Water</p>
    <p>@Model?.Vinegar</p>
    <p>@Model?.Sugar</p>
    <p>@Model?.Salt</p>
}

@code {
    
    private PickleMeModel? Model { get; set; }
    private bool _submitted;

    protected override void OnInitialized()
    {
        Model ??= new PickleMeModel();
    }

    private void Submit()
    {
        Model?.Calculate();
        _submitted = true;
    }

}
