@page "/"

<PageTitle>Pickle Me</PageTitle>

<EditForm Model="Model" FormName="pickle-me" OnSubmit="Submit">
    <label>Cup(s) of Brine</label>
    <InputNumber @bind-Value="Model!.Cups" class="form-control" style="width: 100px;"></InputNumber>
    <button class="btn btn-primary mt-2" type="submit">Submit</button>
</EditForm>
<div class="mt-2">
    @if (_submitted)
    {
        
        <p>Water: @Model?.Water (cups)</p>
        <p>Vinegar: @Model?.Vinegar (cups)</p>
        <p>Sugar: @Model?.Sugar (cups)</p>
        <p>Salt: @Model?.Salt (tbsp)</p>
    }
</div>

@code {

    private PickleMeModel? Model { get; set; }
    private bool _submitted;

    protected override void OnInitialized()
    {
        Model ??= new PickleMeModel();
    }

    private void Submit()
    {
        Model?.Calculate();
        _submitted = true;
    }

}
